* {
	box-sizing: border-box;
	margin: 0;
    padding: 0;
    font-family: 'Monda', sans-serif;
    color: #283593;
}

.wrapper {
    max-width: 1000px;
    display: block;
    margin: auto;
}


body {
    background:white;
}

/* ************   Header   ************* */

/* .h1-div {
    
    /* flex-direction: column; */
    
    /* justify-content: center; */
    /* flex-wrap: wrap; */



h1 {
    display: flex;  
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 1rem;
    padding-top: 2rem;
    font-size: 2.75rem;
    font-family: 'Secular One', sans-serif;
    color: #00BCD4;

}


@media screen and (min-width: 800px) { 
    h1 {
        display: flex;
        justify-content: center;
        margin: 1rem;
        padding-top: 1rem;
        font-size: 4rem;
        font-family: 'Secular One', sans-serif;
        color: #00BCD4;
    }
}


.full-stack {
    display: flex;
    justify-content: center;
    margin: 1rem;
    font-size: 1.75rem;
    color: #76D7C4;
    
}

@media screen and (min-width: 800px) { 
    .full-stack {
        display: flex;
        justify-content: center;
        margin: .5rem;
        font-size: 2.5rem;
    }

    .contact-nav {
        display: flex;
        justify-content: space-around;
        list-style: none;
        padding: .5rem;
        border-radius: 1rem;
        box-shadow: 1px 1px 10px 1px grey;
    }
}


.contact-nav {
    display: flex;
    justify-content: space-around;
    list-style: none;
    /* margin: .5rem; */
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 10px 1px grey;
}

.fa-github-square {
    font-size: 3rem;
    color: #00BCD4;
}

.fa-envelope-square {
    font-size: 3rem;
    color:#00BCD4;
}

.fa-linkedin {
    font-size: 3rem;
    color: #00BCD4;
}

.fa-file-pdf {
    font-size: 3rem;
    color: #00BCD4;
}

.fa-download {
    font-size: 2.75rem;
    color: #00BCD4;
}

/* **************************** Body ************************** */



/* ****** Inherited Styling ******* */


h4 {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    font-size: 1.15rem;
}

h5 {
    display: flex;
    justify-content: center;
    font-size: .9rem;
    margin-bottom: .25rem;
}

h6 {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    font-size: .8rem;
}

p {
    display: flex;
    justify-content: center;
    padding-bottom: 1.25rem;
    font-size: .9rem;
}

ul {
    list-style: none;
}

li {
    font-size: .9rem;
    display: flex;
    justify-content: center;
}


/* ******* About Me Section ******** */


.about-me-div {
    margin: 2rem;
}

.about-me-h2 {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    font-style: italic;
    color: #283593;
}

.about-me-p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    color: #283593;
    font-size: 1rem;
}

.my-img {
    width: 75%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid grey;
    box-shadow: 2px 2px 10px 2px grey;
    display: block;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 600px) { 
    .my-img {
        width: 30%;
        border-radius: 50%;
        display: block;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 800px) { 
    .my-img {
        width: 35%;
        border-radius: 50%;
        display: inline-flex;
    }

    .img-p-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        margin-top: 1rem; 
        margin-bottom: 1rem;
    }

    .about-me-h2 {
        font-size: 1.5rem;
        margin-left: 1rem;
        margin-bottom: 2rem;
        font-style: italic;
        color: #283593;
    }
    .about-me-p-div {
        margin-top: 1rem; 
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .about-me-p {
        margin-top: -1rem;
        margin-bottom: 1rem;
        padding-left: 1rem;
        color: #283593;
    }
}

/* .button-div {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem; 
    margin-bottom: 4rem;
}

button {
    border: solid black 1px;
    padding: 1rem 1.75rem 1rem 1.75rem;
    font-size: .9rem;
} */

/* ******* Projects Section ********* */


.projects-div {
    margin: 2rem;
}

.projects-h2 {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 3.5rem;
    font-family: 'Secular One', sans-serif;
    color:  #76D7C4;
}


.grubbernaut-h3 {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    font-size: 1.25rem;
}


.grubbernaut-img {
    max-width: 100%;
    margin-top: 1.5rem;
    border: 2px solid grey;
    box-shadow: 2px 2px 10px 2px grey;
}


.grubbernaut-p {
    margin-top: 1.5rem;
}


@media screen and (min-width: 800px) { 
    .projects-div {
        margin: .5rem;
        padding-bottom: 6rem;
    } 

    .grubbernaut-img {
        max-width: 100%;
        max-height: auto;
        margin-top: 7rem;
    }

    .grub-img-div {
        margin-left: 2.5rem;
    }
    .grubbernaut-h3 {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        font-size: 2rem;
    }

    .projects-p-div {
        display: flex;
        margin-top: 1rem;
        margin-right: 2rem;
    }
    .grubbernaut-p {
        justify-content: flex-start;
        padding-left: 3rem;
        margin-top: -1rem;
    }

    .projects-h2 {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 4rem;
        font-family: 'Secular One', sans-serif;
        color: #76D7C4;
    }

    p {
        display: flex;
        justify-content: center;
        padding-bottom: 1.25rem;
        font-size: .9rem;
    }
}


/* ******* Resume Section ******** */


/* .resume-div {
    margin: 2rem;
}

.name {
    display: flex;
    justify-content: center;
    padding-bottom: 0.5rem;
}

.skills-div {
    padding-top: 2rem;
}

.resume-blurbs {
    margin-bottom: 1.25rem;
} */

/* .skills-list {
    font-size: 1rem;
} */

/* .jank-img {
    background-image: url('/portfolio-page/images/me.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin: auto;
} */