* {
	box-sizing: border-box;
	margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/* ************   Header   ************* */


h1 {
    display: flex;
    justify-content: center;
    margin: 1rem;
    padding-top: 2rem;
    font-size: 1.9rem;
}

@media screen and (min-width: 813px) { 
    h1 {
        display: flex;
        justify-content: center;
        margin: 1rem;
        padding-top: 2rem;
        font-size: 4rem;
    }
}
.full-stack {
    display: flex;
    justify-content: center;
    margin: 1rem;
    font-size: 1.4rem;
}

@media screen and (min-width: 813px) { 
    .full-stack {
        display: flex;
        justify-content: center;
        margin: 1rem;
        font-size: 2.5rem;
    }
}

.contact-nav {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 1rem;
}


/* **************************** Body ************************** */



/* ****** Inherited Styling ******* */


h2 {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 2.5rem;
}

@media screen and (min-width: 813px) { 
    h2 {
        display: flex;
        justify-content: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: rem;
    }
}

h3 {
    display: flex;
    justify-content: left;
    padding-bottom: 1rem;
    font-size: 1.25rem;
}

h4 {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    font-size: 1.15rem;
}

h5 {
    display: flex;
    justify-content: center;
    font-size: .9rem;
    margin-bottom: .25rem;
}

h6 {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    font-size: .8rem;
}

p {
    display: flex;
    justify-content: center;
    padding-bottom: 1.25rem;
    font-size: .9rem;
}

ul {
    list-style: none;
}

li {
    font-size: .9rem;
    display: flex;
    justify-content: center;
}


/* ******* About Me Section ******** */


.about-me-div {
    margin: 2rem;
}

/* .jank-img {
    background-image: url('/portfolio-page/images/me.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin: auto;
} */

.curious {
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 1rem;
    font-style: italic;
}

.my-img {
    width: 75%;
    border-radius: 50%;
    display: block;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 813px) { 
    .my-img {
        width: 30%;
        border-radius: 50%;
        display: inline-flex;
        /* margin-top: 2rem; 
        margin-bottom: 2rem; */
    }

    .img-p-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        margin-top: 2rem; 
        margin-bottom: 2rem;
    }

    /* .about-me-p {
        display: flex;
        justify-content: flex-end; 
    } */
}

/* .site-nav {
    
    list-style: none;
    margin: 1rem 1rem 1rem;
} */

.button-div {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem; 
    margin-bottom: 4rem;
}

button {
    border: solid black 1px;
    padding: 1rem 1.75rem 1rem 1.75rem;
    font-size: .9rem;
}

/* ******* Projects Section ********* */


.projects-div {
    margin: 2rem;
}

.grubbernaut-h3 {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.grubbernaut-img {
    max-width: 100%;
    margin-top: 1.5rem;
}

.grubbernaut-p {
    margin-top: 1.5rem;
}


/* ******* Resume Section ******** */


.resume-div {
    margin: 2rem;
}

.name {
    display: flex;
    justify-content: center;
    padding-bottom: 0.5rem;
}

.skills-div {
    padding-top: 2rem;
}

.resume-blurbs {
    margin-bottom: 1.25rem;
}

/* .skills-list {
    font-size: 1rem;
} */

